<%= form_for species, url: admin_species_index_path, html: {class: 'form_horizental'} do |f| %>

            <% if species.errors.any?  %>
                <div class="alert alert-danger">
                    <ul>
                        <% species.errors.full_messages.each do |message| %>
                             <li> <%= message %> </li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

    <div class="form_group">
        <%= f.label :name, "Titre", class: 'col-md-4 control-label' %>

        <div class="col-md-8">
            <%= f.text_field :name, class: 'form-control ' %>
        </div>
    </div>


        <div class="form_group">
             <%= f.label :slug, "Question", class: 'col-md-4 control-label' %>

            <div class="col-md-8">
                <%= f.text_field :slug, class: 'form-control ' %>
            </div>
        </div>


        
        <div class="form_group">
             <%= f.label :questionone, "Reponse 1:", class: 'col-md-4 control-label' %>

            <div class="col-md-8">
                <%= f.text_field :questionone, class: 'form-control ' %>
            </div>
        </div>

        <div class="form_group">
             <%= f.label :questiontwo, "Reponse 2:", class: 'col-md-4 control-label' %>

            <div class="col-md-8">
                <%= f.text_field :questiontwo, class: 'form-control ' %>
            </div>
        </div>

        <div class="form_group">
             <%= f.label :questionthree, "Reponse 3:", class: 'col-md-4 control-label' %>

            <div class="col-md-8">
                <%= f.text_field :questionthree, class: 'form-control ' %>
            </div>
        </div>



 
<div class="form_group">
<div class="col-md-offset-4 col-md-6">
    <button type="submit" class="btn btn-primary">

    <%= species.new_record? ? 'Créer' : 'Modifier' %>

    </button>
 </div>
 </div>

 <% end %>



